body {
            font-family: 'lora', 'serif';
            line-height: 1.6;
            margin: 20px auto;
            padding: 10px;
            max-width: 800px;
            background-color: #191818f7; 
            color: #e8eeeebe;
            border-radius: 10px;
     }

     header {
            
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            margin: 5px 20px 20px 20px;
            
            background-color: #0f0a9494; 
            color: #090909; 
            border-radius: 5px;
            border: 2px solid black;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
            padding: 10px;
     }

     .contact-container {
            display: flex;            
            flex-direction: row;      
            justify-content: center;  
            gap: 30px;                
            padding: 15px;
            background-color: #616272f4;
            color: #f3f1f1e9; 
            border: 2px solid black;
            border-radius: 8px;
            margin-top: 5px;
            
     }

    .contact-item {
            font-family: 'monteserrat', 'sans-serif';
            font-weight: bold;
     }

    img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
            display: block;
            margin: 10px auto;
            position-anchor: left;
            margin-left: 0;
     }
